.gridearTablaReviews{
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

thead .gridearTablaReviews{
    text-align: center;
}

tbody .gridearTablaReviews{
    border-radius: 1rem;
    background: var(--colorPrincipal);
    margin-top: 2rem;
}

.gridearTablaReviews .uno, .gridearTablaReviews .dos, .gridearTablaReviews .tres, .gridearTablaReviews .cuatro{
    display: flex;
    align-items: center;
}

.textoBloque{
  display: inline-block;
  width: 100%;
}

.imgTablaReviews{
    width: 100%;
}

.tablaMensajesReportados{
    background: var(--colorSecundario);
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 60%;
    margin-left: 20%;
}

.tablaMensajesReportados, .tablaMensajesReportados .uno{
    padding: 1.5rem;
    color: var(--colorFuente1);
}

.tablaMensajesReportados .dos, .tablaMensajesReportados .tres, .tablaMensajesReportados .cuatro{
    padding: 1.5rem;
}

.tablaMensajesReportados th{
    font-size: 1.2rem;
    text-align: center;
}

.gridearTablaReviews td .ghostBtnAlto{
    max-height: none;
    margin-top: 0;
}