.input-container {
    position: relative;
    width: 100%;
}

.inputPass {
    margin-top: 0.7rem;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: 1px solid var(--bordeGris);
    border-radius: 0.15rem;
    color: var(--colorFuente1);
    outline: none;
    font-size: 1rem;
    padding-right: 50px;
}

.inputPass:focus {
    border: 1px solid var(--bordeAzul);
    outline: none;
}

.inputAdvertenciaPass {
    margin-top: 0.7rem;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: 1px solid var(--colorAdvertencia);
    border-radius: 0.15rem;
    color: var(--colorFuente1);
    outline: none;
    font-size: 1rem;
    padding-right: 50px;
}

.show-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--colorFuente1);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 80%;
    margin-top: 0.4rem; 
}

.show-password:focus {
    outline: none;
}
